/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}

html,
body {
 scroll-behavior: smooth;
 line-height: 1.5;
}

/* variables */
:root {
 /* colors */
 --c-background-even: hsl(60, 100%, 100%);
 --c-background-odd: hsl(205, 39%, 69%);
 --c-headline: hsl(205, 84%, 22%);
 --c-paragraph: hsl(212, 13%, 43%);
 --c-button: hsl(206, 97%, 61%);
 --c-button-text: hsl(60, 100%, 100%);
 /* fonts */
 --ff-headline: "Poppins", sans-serif;
 --ff-paragraph: "Inter", sans-serif;
 /* sizing */
 --sz-headline-l: 3rem;
 --sz-headline-m: 2rem;
 --sz-headline-s: 1.5rem;
 --sz-paragraph-n: 1rem;
 --sz-paragraph-s: 0.875rem;
 --sz-headings: 1.3rem;
}
